In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\bharg\appdata\local\programs\python\python312\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\bharg\appdata\local\programs\python\python312\lib\site-packages (2.0.40)
Requirement already satisfied: greenlet>=1 in c:\users\bharg\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\bharg\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.10.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [4]:
order_df = pd.read_csv("data/orders.csv").sample(500)

In [5]:
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2077476,1221357,124925,prior,9,6,18,3.0
2499030,2484807,150417,prior,10,4,9,30.0
1523376,3393086,91536,prior,1,2,6,NaN
165662,1404909,10000,prior,60,3,7,2.0
2395113,3263741,144128,prior,1,1,13,NaN

In [6]:
aisles_df = pd.read_csv("data/aisles.csv")
departments_df = pd.read_csv("data/departments.csv")

products_df = pd.read_csv("data/products.csv")

order_products_prior_df = pd.read_csv("data/order_products__prior.csv").sample(500)
order_products_train_df = pd.read_csv("data/order_products__train.csv").sample(500)

In [ ]:
order_products_prior_df = pd.read_csv("data/order_products__prior.csv").sample(500)

In [7]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [8]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [9]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [157]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [10]:
order_products_prior_df.head()

          order_id  product_id  add_to_cart_order  reordered
27429117   2892302       44359                 24          0
12036630   1270590       43565                  2          1
11806093   1246394       47766                 14          0
1713088     180618       10132                  4          1
15875751   1675093       12703                  7          1

In [10]:
order_products_train_df.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [11]:
#connection
try:
    conn = psycopg2.connect(dbname="ecom", user='postgres', password='Root', host="localhost", port='5432')
except:
    print("connection was unsuccessful")

In [12]:
cur = conn.cursor()

In [13]:
engine = create_engine('postgresql+psycopg2://postgres:Root@localhost/ecom')

In [14]:
cur.execute("""
CREATE TABLE aisles (
    aisle_id INTEGER PRIMARY KEY,
    ailse TEXT
)
""")

In [15]:
cur.execute("""
CREATE TABLE departments (
    department_id INTEGER PRIMARY KEY,
    department VARCHAR(255)
)
""")

In [16]:
cur.execute("""
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments (department_id)
)
""")

In [17]:
cur.execute("""
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order INTEGER )
""")

In [18]:
cur.execute("""
CREATE TABLE order_products_prior (
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    PRIMARY KEY (order_id, product_id),
    FOREIGN KEY (order_id) REFERENCES orders (order_id),
    FOREIGN KEY (product_id) REFERENCES products (product_id)
    )
""")

In [19]:
cur.execute("""
CREATE TABLE order_products_train (
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    PRIMARY KEY (order_id, product_id),
    FOREIGN KEY (order_id) REFERENCES orders (order_id),
    FOREIGN KEY (product_id) REFERENCES products (product_id)
    )
""")

In [20]:
conn.commit()

In [21]:
order_df.drop('eval_set', inplace=True, axis=1)

In [23]:
aisles_df.to_sql('aisles', con=engine, if_exists='append', index=False)

134

In [110]:
print(aisles_df.columns)

Index(['aisle_id', 'aisle'], dtype='object')

In [24]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [25]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

688

In [26]:
order_df.to_sql('orders', con=engine, if_exists='append', index=False)

500

In [33]:
valid_orders = pd.read_sql("SELECT order_id FROM orders", con=engine)
order_products_prior_df = order_products_prior_df[
    order_products_prior_df['order_id'].isin(valid_orders['order_id'])
]

In [37]:
order_products_prior_df.to_sql('order_products_prior', con=engine, if_exists='append', index=False)

2

In [35]:
order_products_prior_df.to_sql('order_products_prior', con=engine, if_exists='replace', index=False)

2

In [36]:
order_products_prior_df = order_products_prior_df.drop_duplicates(subset=["order_id", "product_id"])
order_products_prior_df.to_sql('order_products_prior', con=engine, if_exists='append', index=False)

2